*,html,body
{
    margin: 0%;
    padding: 0%;
}

header {
    height: 80px;
    line-height: 80px;
    position: fixed;
    z-index: 1;
    width: 100%;
    justify-content: space-between;
}

.secondary{
    background-color: deepskyblue;
    box-shadow: 0px 0px 17px 0px;
    transition: all 0.5s ease-in;
}

ul {
    list-style: none;
}

ul li {
    display: inline-block;
}

header nav
{
    float: right;
}

.logo img {
    margin-top: 13px;
}


header nav ul li a {
    padding-right: 30px;
    font-weight: bold;
    color: whitesmoke;
    transition: all 0.5s ease-in;
}

header nav ul li a:hover {
    text-decoration: none;
    color: black;
}

.img1 {
    background-image:linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)),url(../image/abstract.jpg);
}

.slider,.slider ul,.slider ul li
{
    height: 100%;
    width: 100%;
    color: whitesmoke;
    text-align: center;
}

.slider h2 {
    font-weight: bold;
    margin-top: 270px;
}

.slider span {
    color: orange;
}

.slider a {
    padding: 10px 14px;
    background-color: orange;
    color: white;
    transition: 0.5s ease-in;
}

.slider a:hover
{
    background-color: dodgerblue;
}

.img2 {
    background-image:linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)),url(../image/typewriter.jpg);
}

.img3 {
    background-image:linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)),url(../image/village.jpg);
}

.slider i {
    font-size: 40px;
    margin-right: 10px;
}

.intro-area {
    position: relative;
    padding: 100px 0px;
}

.sub-heading {
    position: relative;
    margin-bottom: 75px;
}

.sub-heading:before {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -3%;
    width: 6%;
    height: 1px;
    background-color: deepskyblue;
    z-index: 1;
    -webkit-transition: 0.3s ease;
    -moz-transition: 0.3s ease;
    -ms-transition: 0.3s ease;
    -o-transition: 0.3s ease;
    transition: 0.3s ease;
}

.sub-heading:hover:before {
    width: 24%;
    margin-left: -12px;
}

.sub-heading:after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -12%;
    width: 24%;
    height: 1px;
    background-color: #e1e1e1;
}

.sub-heading p {
    color: #818181;
    display: inline-block;
    padding: 0px 0px 20px;
    position: relative;
    line-height: 24px;
    letter-spacing: 0.025em;
}

.intro-block {
    position: relative;
    background: #f7f7f7;
    margin: 50px 0px 0px;
    padding: 70px 25px 40px;
    text-align: center;
}

.intro-block:hover, .intro-block:active{
    background: #0AABE1;
}

.intro-block:hover {
    -webkit-transition: .6s ease;
    -moz-transition: .6s ease;
    -ms-transition: .6s ease;
    -o-transition: .6s ease;
    transition: .6s ease;
}

.intro-block .intro-icon {
    position: absolute;
    top: -31px;
    left: 50%;
    margin-left: -31px;
}

.intro-block .fab {
    width: 63px;
    height: 63px;
    font-size: 30px;
    color: white;
    line-height: 2;
    background-color: deepskyblue;
    border-radius: 50%;
    box-shadow: 0px 0px 0px 10px #CCEEF9;
}

.intro-block .fas {
    width: 63px;
    height: 63px;
    font-size: 30px;
    color: white;
    line-height: 2;
    background-color: deepskyblue;
    border-radius: 50%;
    box-shadow: 0px 0px 0px 10px #CCEEF9;
}

.intro-block:hover .fab, .intro-block:active .fab {
    background: white;
    color: deepskyblue;
    box-shadow: 0px 0px 0px 10px deepskyblue;
}

.intro-block:hover .fas, .intro-block:active .fas {
    background: white;
    color: deepskyblue;
    box-shadow: 0px 0px 0px 10px deepskyblue;
}

.intro-block h3 {
    font-size: 18px;
    color: deepskyblue;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 15px;
}

.intro-block:hover h3, .intro-block:hover p {
    color: #f6f6f6;
}

.intro-block p {
    color: #505050;
}

.feature-area {
    padding: 100px 0px;
    background-image:linear-gradient(rgba(0,0,0,0.8),rgba(0,0,0,0.8)),url(../image/mountains.jpg);
    background-position: center;
    background-attachment: fixed;
}

.title h2, p {
    color: white;
}

.single-feature h3{
    color: white;
}

.single-feature {
    position: relative;
    width: 325px;
    float: left;
    padding: 30px 0;
    text-align: center;
    border-right: 1px solid #65c8e5;
    border-bottom: 1px solid #65c8e5;
    -webkit-transition: .3s ease;
    -moz-transition: .3s ease;
    -ms-transition: .3s ease;
    -o-transition: .3s ease;
    transition: .3s ease;
}

.feature-block {
    display: table;
    content: "";
    clear: both;
}

.featured-icon {
    display: inline-block;
    margin-bottom: 20px;
}

.single-feature i.fas {
    border: 2px solid #fff;
    padding: 15px;
    border-radius: 50%;
    font-size: 30px;
    background-color: #00a7dd;
    color: white;
    width: 64px;
    height: 64px;
}

.single-feature i.fab {
    border: 2px solid #fff;
    padding: 15px;
    border-radius: 50%;
    font-size: 30px;
    background-color: #00a7dd;
    color: white;
    width: 64px;
    height: 64px;
    -webkit-transition: .3s ease;
    -moz-transition: .3s ease;
    -ms-transition: .3s ease;
    -o-transition: .3s ease;
    transition: .3s ease;
}

.feature-block:hover .single-feature {
    border-color: white;
    -webkit-transition: .3s ease;
    -moz-transition: .3s ease;
    -ms-transition: .3s ease;
    -o-transition: .3s ease;
    transition: .3s ease;
}

.single-feature:hover .featured-icon .fas {
    border: 2px solid #00a7dd;
    background: white;
    color: deepskyblue;
}

.single-feature:hover .featured-icon .fab {
    border: 2px solid #00a7dd;
    background: white;
    color: deepskyblue;
}

.single-feature:nth-of-type(even)
{
    border-right: none;
}

.single-feature:nth-last-child(2)
{
    border-bottom: none;
}

.single-feature:last-child {
    border-bottom: none;
}

.feature-mockup {
    position: relative;
    bottom: -100px;
    right: 120px;
}

.title .sub-heading p
{
    color: white;
}

.more-feature-area .title .sub-heading p {
    color: darkgray;
}

.more-feature-area .title h2 {
    color: black;
}

.more-feature-area {
    padding: 100px 0px;
}

.feature-list ul {
    list-style: none;
}

.feature-list li {
    position: relative;
    margin-bottom: 30px;
    padding-left: 80px;
}

.feature-list li:hover i {
    color: white;
    background: deepskyblue;
    -webkit-transition: .5s ease;
    -moz-transition: .5s ease;
    -ms-transition: .5s ease;
    -o-transition: .5s ease;
    transition: .5s ease;
}

.third-icon {
    position: absolute;
    left: 0;
}

.third-icon i {
    width: 63px;
    height: 63px;
    text-align: center;
    font-size: 30px;
    background: white;
    color: deepskyblue;
    border-radius: 50%;
    border: 2px solid deepskyblue;
    line-height: 63px;
}

.feature-details h3 {
    color: deepskyblue;
    font-weight: 700;
    text-transform: uppercase;
}

.feature-details p {
    color: #616161;
    font-weight: 200;
}

.more-feature-area img {
    margin-left: 70px;
    margin-top: 60px;
}

.testimonials {
    background-image:linear-gradient(rgba(0,0,0,0.8),rgba(0,0,0,0.7)),url(../image/seascap.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    padding-top: 120px;
    padding-bottom: 120px;
    color: white;
    margin-top: -100px;
}

.testimonials .carousel-indicators {
    bottom: -60px;
}

.testimonials .sub-heading p {
    color: white;
}

.carousel-inner img {
    width: 150px;
    height: 150px;
    border-radius: 100%;
    border: 2px solid deepskyblue;
    padding: 5px;
}

.testimonials .carousel-indicators li.active {
    background-color: orange;
}

.testimonials .carousel-indicators li {
    border: orange;
}

.testimonials .carousel-inner h2 {
    color: deepskyblue;
}

.team-area {
    padding: 100px 0px;
}

.team-area .title h2 {
    color: black;
}

.team-area .title p {
    color: darkgray;
}

.team-area .sub-heading {
    margin-bottom: 100px;
}

.team-man {
    position: absolute;
    left: 50%;
    margin-left: -50px;
    top: -50px;
    overflow: hidden;
    min-height: 100px;
    height: 100px;
    width: 100px;
    min-width: 100px;
    border: 10px solid #c4e5f0;
    border-radius: 50%;
}

.team-man img {
    width: 100%;
    height: 100%;
    min-height: 100%;
    min-width: 100%;
    border-radius: 50%;
}

.team-block h3 {
    color: deepskyblue;
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
    padding-top: 70px;
    margin-bottom: 5px;
}

.team-block span {
    color: #6c6c6c;
    font-size: 16px;
    text-transform: capitalize;
    letter-spacing: 0.025em;
}

.team-block p {
    color: dimgrey;
    font-size: 14px;
    padding: 25px 15px;
    line-height: 24px;
}

.team-description {
    background-color: white;
}

.team-social-network {
    text-align: center;
    padding-bottom: 15px;
}

.team-social-network a{
    margin: 0 6px;
}

.team-social-network i {
    height: 40px;
    width: 40px;
    background: white;
    text-align: center;
    color: deepskyblue;
    border-radius: 50%;
    border: 3px solid #c4e5f0;
    padding-top: 10px;
}

.team-block {
    text-align: center;
    position: relative;
}

.team-block:hover .team-description {
    background-color: deepskyblue;
    color: white;
    -webkit-transition: .3s ease;
    -moz-transition: .3s ease;
    -ms-transition: .3s ease;
    -o-transition: .3s ease;
    transition: .3s ease;
}

.team-block:hover .team-title h3,
.team-block:hover .team-title span {
    color: white;
    -webkit-transition: .4s ease;
    -moz-transition: .4s ease;
    -ms-transition: .4s ease;
    -o-transition: .4s ease;
    transition: .4s ease;
}

.team-block:hover .team-description p {
    color: #f9f9f9;
    -webkit-transition: .5s ease;
    -moz-transition: .5s ease;
    -ms-transition: .5s ease;
    -o-transition: .5s ease;
    transition: .5s ease;
}

.team-block:hover .team-social-network i {
    border-color: white;
    background: deepskyblue;
    color: white;
    -webkit-transition: .6s ease;
    -moz-transition: .6s ease;
    -ms-transition: .6s ease;
    -o-transition: .6s ease;
    transition: .6s ease;
}

.contact-area {
    padding: 100px 0px;
    background-image:linear-gradient(rgba(0,0,0,0.8),rgba(0,0,0,0.7)),url(../image/mou.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.divider {
    border-right: 1px solid #d9d9d9;
}

.contact-area h3 {
    text-transform: uppercase;
    margin-bottom: 18px;
    color: whitesmoke;
}

.contact-area h4 {
    color: whitesmoke;
    font-weight: 700;
    text-transform: capitalize;
    margin-bottom: 4px;
    letter-spacing: 0.025em;
}

.contact-area span {
    display: block;
    color: whitesmoke;
    font-size: 12px;
    line-height: normal;
}

.contact-area ul li {
    overflow: hidden;
    margin-bottom: 25px;
}

.contact-area ul li:last-child {
    margin-bottom: 0;
}

.contact-address ul li .fas {
    float: left;
    width: 25px;
    color: deepskyblue;
    font-size: 30px;
}

.contact-address ul li .address-phone {
    float: left;
    width: 180px;
    padding-left: 25px;
}

.contact-block {
    padding-left: 25px;
}

.contact-area .form-control, .contact-area  textarea {
    font-family: 'Roboto', sans-serif;
    background: #f8fdff;
    border: 1px solid #a5d3eb;
    padding: 10px 12px;
    color: #bdbdbd;
    height: 45px;
    font-weight: 400;
    border-radius: 0;
}

.contact-area .form-group
{
    margin-bottom: 30px;
}

.contact-area textarea {
    min-height: 115px;
}

.contact-area .default-btn {
    padding: 10px;
    background-color: dimgray;
}

#map {
    height: 500px;
    width: 100%;
}
